body {
    /* background: rgb(255,207,126); */
    background: linear-gradient(323deg, rgba(255,207,126,1) 0%, rgba(255,139,162,1) 100%);
    background-repeat: no-repeat;
}

#title {
    font-family: 'Caprasimo', cursive;
}

#clear, #input, #question, li {
    font-family: 'Jost', sans-serif;
}

li {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #591212;
}

.to-do-list {
    flex-grow: 1;
}

.delete {
    padding-left: 20px;
}
