body {
    background: rgb(255,207,126);
    background: linear-gradient(323deg, rgba(255,207,126,1) 0%, rgba(255,139,162,1) 100%);
    background-repeat: no-repeat;
}

#title {
    font-family: 'Caprasimo', cursive;
}

#clear, #input, #question, li {
    font-family: 'Jost', sans-serif;
}

li {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #591212;
}

.to-do-list {
    flex-grow: 1;
}

.delete {
    padding-left: 20px;
}


/* option2 */
/* background: rgb(133,187,212);
background: linear-gradient(323deg, rgba(133,187,212,1) 0%, rgba(103,70,209,1) 100%); */

/* option3 */
/* background: rgb(255,195,79);
background: linear-gradient(323deg, rgba(255,195,79,1) 0%, rgba(146,198,112,1) 83%, rgba(124,199,119,1) 100%); */